# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Mac files
.DS_Store

# Build output
build/
storybook-static
*.tsbuildinfo

# Packed npm
*.tgz

# Non-NPM lockfiles
yarn.lock
